<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> &dash; Todos los derechos reservados.<br>
      <a href="/legal">Aviso legal</a>
    </div>
  </div>
</footer>